.search-box {
  text-align: center;
  margin-bottom: 40px;
}

.search-box input {
  padding: 14px;
  width: 320px;
  border-radius: 6px;
  border: 1px solid #9025B0;
  background-color: #0f172a;
  color: #e5e7eb;
}

.search-box input:focus {
  border-color: #11DAF5;
  outline: none;
}

.search-box button {
  padding: 14px 24px;
  margin-left: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  background-color: #11DAF5;
  cursor: pointer;
}
